.DS_Store
autoload
fonts
html
.netrwhist

# Ignore everything in the emacs directory
.config/emacs/*
# But exclude these files from being ignored
!.config/emacs/init.el
!.config/emacs/rp-theme.el
!.config/emacs/config.org
!.config/emacs/config.el

